
.loading {
    background-image: url("/img/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size:auto 20%;
    background-size:auto 20%;
}


.hoge {
    border:1px solid red;
    width:200px;
    height:200px;
    text-align:center;
    display:table-cell;
    vertical-align:middle;

}


.hoge img {
    max-width:200px;
    max-height:200px;
}
